<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Theme Made By www.w3schools.com - No Copyright -->
	<title>Task</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head><br>


<div class="container">
	<div class="row"><br>
		<h1>Listing the table </h1>
		<table class="table table-bordered table-striped">
			<tr>
				<th>Source</th>
				<th>Income</th>
				<th>Total income </th>
			</tr>
			<% @incomes.each do |income| %>
			<tr>
				<td><%= income.source %></td>
				<td><%= income.income %></td>
				<td><%= income.total_income %></td>
				<td><%= link_to "show", income_path(income) %></td>
				<td><%= link_to "edit", edit_income_path(income) %></td>
				<td><%= link_to "destroy", income_path(income), 
				         :method => :delete, data: { clear: "Are you sure?"} %></td>
				<td><%= link_to "comment", new_income_comment_path(income) %></td>
				         
			</tr>
			<% end %>
		</table>
	</div>
</div>
<%= link_to "new income", new_income_path %>
<%= link_to "Download_pdf", download_pdf_path(:format => 'pdf') %>