

<p>
	<strong>Accomidation</strong>
	<%= @expense.accomidation %>
</p>
<p>
	<strong>Travelling</strong>
	<%= @expense.travelling %>
</p>
<p>
	<strong>Food</strong>
	<%= @expense.food %>
</p>
<p>
	<strong> Othercharges</strong>
	<%= @expense.othercharges %>
</p>


<%= link_to "back", expenses_path %>


<%= render "comments/comments" %>
<%= render "comments/form" %>
